:root {
    --accent-light: #00A4E5;
    --accent-dark: #48555B;
    --line: #FFFFFF;
    --tr: 0.2s;
    --light-rgb: 255, 255, 255;
    --open-sans: 'Open Sans', sans-serif;
}


body {
    font-family: var(--open-sans);
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1650px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

.main-header {
    background: white;
    max-width: 1440px;
    margin: 0 auto;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    margin: 0 auto;
    border-bottom: 1px solid #E0E0E0;
}

.logo {
    font-size: 18px;
    font-weight: 700;
    color: #171819;
    margin: 0 auto;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: normal;
    letter-spacing: 1px;
}

.nav {
    display: flex;
    gap: 47px;
    margin: 0 auto;
    color: #48555B;
}

.nav-link {
    color: var(--accent-dark);
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1px;
    padding-bottom: 5px;
    transition: var(--tr);
}

.nav-link:hover {
    color: var(--accent-light);
    border-bottom: 2px solid var(--accent-light);
}

.hero {
    background-image: url(../logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
    width: 100%;
    max-width: 1440px;
    height: 768px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--line);
    position: relative;

}

.company-name {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 4px;
    margin-bottom: 20px;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Bebas Neue', sans-serif;
    font-weight: normal;
    letter-spacing: 1px;
}

.hero-title {
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 1px;
    margin-bottom: 1px;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: normal;
    letter-spacing: 9px;
    margin-top: 120px;
}

.hero-description {
    max-width: 520px;
    margin: 0 auto;
    font-size: 22px;
    line-height: 160%;

}

.hero-description:hover {
    border-bottom: 1px solid var(--accent-light);
}

.hero-low {
    font-size: 15px;
    font-weight: 600;
    margin-top: 180px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.hero-low:hover {
    border-bottom: 2px solid var(--accent-light);
}

.baner {
    margin-top: 56px;

}

.baner-title {
    text-align: center;
    color: var(--accent-dark);
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 2.3px;
    margin-bottom: 15px;
    font-weight: 700;
}

.baner-line {
    width: 50px;
    height: 2px;
    background-color: var(--accent-light);
    margin: 0 auto 20px auto;
}

.baner-content-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 100px;
}

.baner-text {
    width: 405px;
    flex-shrink: 0;
}

.baner-description {
    font-size: 20px;
    font-weight: 700;
    color: var(--accent-dark);
    line-height: 1.4;
    margin-bottom: 20px;
    max-width: 395px;
}

.baner-description .accent {
    color: var(--accent-light);
}

.baner-descr2 {
    font-size: 13px;
    color: var(--accent-dark);
    line-height: 1.6;
    letter-spacing: 0.19px;
}

.about-cards {
    display: flex;
    gap: 20px;
    margin-top: 55px;
}

.card {
    width: 140px;
    height: 224px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.card h3 {
    margin-left: 14px;
    top: 15px;
    left: 14px;
    color: var(--line);
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.19px;
}

.card-plan {
    background-image: url(../Bitmap2.png);
}

.card-manage {
    background-image: url(../Bitmap.png);
}

.card-deliver {
    background-image: url(../Bitmap1.png);
}

.capabilities {
    margin-bottom: 120px;

}

.capabilities-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    margin-top: 100px;
    gap: 100px;
}

.capabilities-title-wrapper {
    position: relative;
}

.capabilities-title {
    font-family: var(--open-sans);
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2.3px;
    color: var(--accent-dark);
    margin-bottom: 15px;
}

.capabilities-line {
    width: 50px;
    height: 2px;
    background-color: var(--accent-light);
}

.capabilities-text {
    font-family: var(--open-sans);
    font-size: 11px;
    line-height: 19px;
    letter-spacing: 0.2px;
    color: var(--accent-dark);
    max-width: 405px;
    margin: 0;
    justify-content: flex-end;
}

.btn-all-services {
    background: var(--accent-light);
    color: #FFFFFF;
    font-family: var(--open-sans);
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.5px;
    padding: 11px 29px;
    text-decoration: none;
    transition: var(--tr);
    display: inline-block;
}

.btn-all-services:hover {
    background: var(--accent-dark);
}

.services-cards {
    display: flex;
    justify-content: center;
    gap: 28px;
}

.service-card {
    width: 295px;
    min-height: 330px;
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    padding: 38px 23px;
    box-sizing: border-box;
    transition: var(--tr);
}

.service-card:hover {
    transform: translateY(-5px);
}

.service-icon1 {
    width: 66px;
    height: 75px;
    background-image: url(../Bitmap3.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 25px;
}

.service-icon2 {
    width: 66px;
    height: 75px;
    background-image: url(../Bitmap4.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 25px;
}

.service-icon3 {
    width: 66px;
    height: 75px;
    background-image: url(../Bitmap5.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 25px;
}

.service-title {
    font-family: var(--open-sans);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.43px;
    color: var(--accent-dark);
    margin-bottom: 13px;
}

.service-description {
    font-family: var(--open-sans);
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.19px;
    color: var(--accent-dark);
}


.hero2 {
    background-image: url(../get-in-touch.png);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    width: 100%;
    max-width: 1440px;
    height: 499px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--line);
    position: relative;
    background-size: contain;
    margin-top: -100px;
}

.hero-title2 {
    margin-left: 545px;
    color: var(--accent-dark);
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 150px;
    width: 350px;
    line-height: 35px;
    font-family: var(--open-sans);
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
}

.hero-description2 {
    position: absolute;
    width: 150px;
    height: 40px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 200px;
    background: #00A4E5;
    font-family: var(--open-sans);
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: var(--tr);
}


.hero-description2:hover {
    background: #0088cc;
}

.newsletter {
    width: 100%;
    max-width: 1440px;
    height: 100px;
    margin: 0 auto;
    background: #171819;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.newsletter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
    height: 100%;
    max-width: 685px;
    margin: 0 auto;
}

.newsletter-title {
    font-family: var(--open-sans);
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
    width: 250px;
    margin-right: 50px;
}

.newsletter-email {
    font-family: var(--open-sans);
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.07px;
    color: #48555B;
    margin: 0;
    background: #FFFFFF;
    width: 350px;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    box-sizing: border-box;
    border: 1px solid #979797;
}

.newsletter-btn {
    width: 150px;
    height: 40px;
    background: #00A4E5;
    border: none;
    font-family: var(--open-sans);
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    transition: var(--tr);
    margin-left: -5px;
}

.newsletter-btn:hover {
    background: #0088cc;
}

.footer-links {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    background: #171819;
    padding: 40px 0;

}

.footer-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    max-width: 940px;
    margin: 0 auto;
}

.footer-block {
    width: 250px;
}

.footer-label {
    font-family: var(--open-sans);
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.846px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.company-name1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.company-desc {
    font-family: var(--open-sans);
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.19px;
    color: #FFFFFF;
    width: 300px;
}

.company-block {
    width: 250px;
}

.links-block {
    width: 262px;
    margin-left: 70px;
}

.links-columns {
    display: flex;
    gap: 34px;
    margin-top: 25px;

}

.links-column {
    list-style: none;
    padding: 0;
    margin: 0;
}

.links-column li {
    margin-bottom: 0;
}

.links-column a {
    font-family: var(--open-sans);
    font-size: 11px;
    line-height: 25px;
    letter-spacing: 0.846px;
    color: #FFFFFF;
    text-decoration: none;
    transition: var(--tr);
}

.links-column a:hover {
    color: var(--accent-light);
}

.contact-block {
    width: 110px;
    margin-left: 55px;
}

.contact-block .footer-label {
    font-family: var(--open-sans);
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.846px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-info p {
    font-family: var(--open-sans);
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.846px;
    color: #FFFFFF;
    margin: 0;
}

.contact-phone {
    font-family: var(--open-sans);
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.846px;
    color: #FFFFFF;
    margin: 0;
}

.contact-email {
    font-family: var(--open-sans);
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.846px;
    color: #FFFFFF;
    margin: 0;
}

.news2 {
    width: 100%;
    background: #171819;
    padding: 23px 0;
    text-align: center;
}

.news2-title {
    font-family: var(--open-sans);
    font-size: 11px;
    line-height: 13px;
    color: #FFFFFF;
    margin: 0;
    font-weight: normal;
}

.news2-container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    background: #171819;
}


.social-icons {
    display: flex;
    gap: 20px;
    margin-left: 30px;
}

.social-icon1,
.social-icon2,
.social-icon3 {
    display: block;
    width: 13px;
    height: 13px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: var(--tr);
}

.social-icon1 {
    background-image: url(do3.jpg);
}

.social-icon2 {
    background-image: url(do2.jpg);
}

.social-icon3 {
    background-image: url(do.jpg);
}

.social-icon1:hover,
.social-icon2:hover,
.social-icon3:hover {
    opacity: 0.7;
    transform: scale(1.1);
}

@media(max-width: 1650px) {
    .hero {
        height: 250px;
        max-width: 1650px;
    }

    .company-name {
        top: 9px;
        font-size: 12px;
    }

    .hero-title {
        letter-spacing: 2px;
        font-size: 15px;
        margin-top: 25px;
    }

    .hero-description {
        font-size: 6px;

    }

    .hero-low {
        margin-top: 70px;
        font-size: 5px;
    }

    .logo {
        font-size: 12px;
    }

    .header-wrapper {
        height: 35px;
    }

    .container {
        padding-left: 0px;
        padding-right: 0px;

    }

    .nav {
        margin: auto;
        gap: 15px;
    }

    .nav-link {
        font-size: 6px;
        padding-bottom: 1px;

    }

    .baner-text {
        width: 140px;
    }

    .baner-title {
        font-size: 7px;
        letter-spacing: 2.1px;
        margin-bottom: 5px;
    }

    .baner-line {
        width: 25px;
        height: 0.1px;
    }

    .baner {
        margin-top: 15px;
    }

    .baner-content-wrapper {
        gap: 25px;
    }

    .baner-descr2 {
        font-size: 6px;
        line-height: 1.3;
        letter-spacing: 0.1px;
    }

    .baner-description {
        font-size: 8px;
        margin-bottom: 10px;
    }

    .about-cards {
        gap: 5px;
        margin-top: 20px;
    }

    .card {
        width: 42px;
        height: 80px;
    }

    .card h3 {
        margin-left: 7px;
        font-size: 7px;
    }

    .capabilities-header {
        margin-top: 5px;
        gap: 5px;
        margin-bottom: 30px;
        margin-left: 20px;
        margin-right: 20px;


    }

    .capabilities-title {
        font-size: 6px;
        letter-spacing: 1px;
        margin-bottom: 5px;
        font-weight: 900;
        margin-top: -5px;
        width: 75px;
    }

    .capabilities-text {
        font-size: 6px;
        letter-spacing: 0.1px;
        line-height: 1.3;
        margin-left: 20px;
        margin-top: 5px;
    }

    .btn-all-services {
        font-size: 4px;
        padding: 5px 5px;
        white-space: nowrap;
    }

    .capabilities-line {
        width: 20px;
        height: 1px;
    }

    .services-cards {
        gap: 5px;
    }

    .service-card {
        width: 100px;
        height: 120px;
        min-height: 120px;
        padding: 10px 10px;
    }

    .service-icon1 {
        width: 25px;
        height: 30px;
        margin-bottom: 0px;
    }

    .service-title {
        font-size: 5px;
        line-height: 7px;
        letter-spacing: 0px;
        margin-bottom: 0px;
    }

    .service-description {
        font-size: 5px;
        line-height: 7px;
    }



    .service-card {
        width: 100px;
        height: 120px;
        min-height: 120px;
        padding: 10px 10px;
    }

    .service-icon2 {
        width: 25px;
        height: 30px;
        margin-bottom: 0px;
    }

    .service-icon3 {
        width: 25px;
        height: 30px;
        margin-bottom: 0px;
    }

    .hero2 {
        max-width: 1650px;
        margin-top: -250px;
    }

    .hero-title2 {
        font-size: 10px;
        width: 120px;
        line-height: 15px;
        margin-bottom: 100px;
    }

    .hero-description2 {
        width: 45px;
        height: 15px;
        font-size: 5px;
        bottom: 250px;
    }

    .newsletter {
        margin-top: -200px;
    }

    .newsletter-title {
        margin-left: 30px;
        font-size: 10px;
        width: 170px;
        margin-right: 10px;
    }

    .newsletter-email {
        font-size: 7px;
        width: 200px;
        height: 20px;

    }

    .newsletter-btn {
        font-size: 7px;
        width: 100px;
        height: 20px;
        margin-right: 20px;
    }

    .footer-container {
        gap: 5px;
        margin-top: -60px;
    }

    .company-block {
        width: 100px;
        margin-left: 20px;
    }


    .company-name1 {
        font-size: 6px;
        margin-bottom: -5px;
    }

    .footer-label {
        margin-bottom: -4px;
        font-size: 3px;
    }

    .company-desc {
        font-size: 4px;
        line-height: 8px;
        width: 90px;
        margin-top: 13px;
    }

    .links-columns {
        margin-top: 1px;

    }

    .links-column a {
        font-size: 5px;
        line-height: 0px;
    }

    .links-columns {
        gap: 10px;
        line-height: 12px;
    }

    .links-block {
        margin-left: 3px;
    }

    .contact-block {
        width: 110px;
        margin-left: 1px;
    }

    .contact-block .footer-label {
        font-size: 5px;
        margin-bottom: 4px;
    }

    .contact-info p {
        font-size: 5px;
        line-height: 6px;
        width: 60px;
    }

    .contact-info {
        gap: 9px;

    }

    .contact-block {
        width: 110px;
        margin-left: 5px;
    }

    .social-icons {
        gap: 6px;
        margin-left: 19px;
        margin-top: -5px;
    }

    .social-icon1,
    .social-icon2,
    .social-icon3 {
        width: 6px;
        height: 6px;
    }

    .news2 {
        padding: 11px 0;

    }

    .footer-links {
        max-width: 1650px;
        max-width: 1650px;
        padding: 30px 0;
    }

    .news2 {
        padding: 5px 0;
    }

    .news2-container {
        max-width: 1650px;
        margin-top: -18px;
    }

    .news2-title {
        font-size: 4px;

    }

    .news2 {
        padding: 0px 0;
    }

    .social-icons {
        gap: 6px;
        margin-left: 0;
        margin-right: 10px;
        margin-top: 7px;
        justify-content: flex-start;
    }

}